---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
    <div class="flex flex-col gap-2">
        <p class="text-sm font-light">
            Hi, I'm Furkan, I want to continue my career in the areas of Cross Platform Application Development, Back-End, Artificial Intelligence, Machine Learning, and Embedded Development.
            <br>
            My primary tools of choice includes:
            <ul class="list-disc list-inside">
                <li role="link">Node.js</li>
                <li role="link">JavaScript</li>
                <li role="link">React</li>
                <li role="link">Redis</li>
                <li role="link">Java</li>
                <li role="link">Python</li>
                <li role="link">C/C++</li>
                <li role="link">Go</li>
            </ul>
        </p>
        <p class="text-sm font-light">
            Beyond coding, I'm passionate about football, photography, design and video games.
        </p>
        <p class="text-sm font-light">
            While I have some preferred tools, I always choose the best one for the job, even if it's not on my usual list. My goal is to find the right solution for each project.
        </p>
    </div>
</Card>
